/*
     REF: https://animated-gradient-background-generator.netlify.app/
 */
/* Landing Page Container */
.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

/* Overlay */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-center {
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-email {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.email-link {
  color: white;
  text-decoration: underline;
}

.glow-button {
  padding: 0.5rem 2rem;
  border-radius: 12px;
  border: 2px solid black;
  background: linear-gradient(253deg,#a58105,#bd9b15,#ddb639,#ffdf01,#ffcc01,#a8eb12);
  background-size: 120% 120%;
  animation: gradient-animation 3s ease infinite;
  transition: transform 1s ease;
  cursor: pointer;
  color: black
}

.glow-button:hover {
  transform: scale(1.2);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .hero-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
